.bodyy{
    display: flex;
    flex-direction: column;
    height: 100vh; 
    align-items: center;
    background-color: rgb(207, 125, 125);
}
.title {
    color: rgb(159, 21, 21);
}

.paragraph {
    font-size: 50px;
}

.envelope {
    display: flex;
    flex-direction: row;
}

.envelopeLeft{
    position: relative;
    width: 500px;
    height: 400px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation-name: env;
    animation-duration:5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
}

.envelopeRight{
    position: relative;
    width: 500px;
    height: 400px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation-name: envR;
    animation-duration:5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
}
.leftEnv{
    position: absolute;
    font-size: large;
    font-weight: bold;
    color: brown;
    text-align: center;
}

.rightEnv{
    position: absolute;
    font-size: large;
    font-weight: bold;
    width: 300px;
    text-align: center;
}
.leftEnvHeart, .rightEnvHeart{
    position: absolute;
    font-size: large;
    font-weight: bold;
    font-size: 100px;
    z-index: 100;
    animation-name: example;
    animation-duration:7s;
    animation-iteration-count:infinite;
}

  @keyframes example {
    0% { transform: rotateY( 60deg); }
  20% { transform: rotateY( 120deg); }
  25% { transform: rotateZ( -120deg); }
  40% { transform: rotateY( 180deg); }
  45% { transform: rotateZ( 120deg); }
  60% { transform: rotateY( 240deg); }
  80% { transform: rotateY( 300deg); }
  85% { transform: rotateZ( 120deg); }
  100% { transform: rotateY( 360deg); }
  } 
  @keyframes env {
    50% { transform: rotatez( 5deg); }
  } 
  @keyframes envR {
    50% { transform: rotatez( -5deg); }
  } 
