html{
    background-color: rgb(207, 125, 125);
}

.bodyy{
    display: flex;
    flex-direction: column;
    height: 100vh; 
    align-items: center;
}
.title {
    color: rgb(159, 21, 21);
}

.paragraph {
    font-size: 50px;
}

.envelope {
    display: flex;
    flex-direction: row;
}

.envelopeLeft, .envelopeRight{
    position: relative;
    width: 500px;
    height: 400px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}


.leftEnv, .leftEnvHeart, .rightEnvHeart{
    position: absolute;
    font-size: large;
    font-weight: bold;
}
.leftEnvHeart, .rightEnvHeart{
    font-size: 100px;
}

.leftEnvHeartAnimated{
    z-index: 100;
    animation-name: example;
    animation-duration:2s;
    /* animation-fill-mode: forwards;   */
}

.paragraphAnimation {
    position: absolute;
    font-size: large;
    font-weight: bold;
    animation-name: title;
    animation-duration: 2s;
    animation-fill-mode: forwards;  
}

.rightEnv{
    position: absolute;
    font-size: large;
    font-weight: bold;
    width: 300px;
    text-align: center;
}


  @keyframes example {
    0%  {left:200px; }
    25% {left:450px; }
    50% {scale: 5; left:450px; }
    100% {scale: 5; left:450px; transform: rotateY(90deg);}
  } 

  @keyframes title {
    0% {scale: 5; left:450px; }
    100% {scale: 5; left:450px; animation-timing-function: ease-in; transform: rotateY(-90deg); }
  } 
  