.learn-home-page {
  width: 100%;
  min-height: 100vh;
  background-color: #711f1f;
}

.backgroundCenter {
  background-color: #711f1f;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.firstEyes {
  margin-bottom: -80px;
  width: 100vw;
}
.display {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button1 {
  width: 300px;
  height: 100px;
  margin-bottom: 10vh;
  border-radius: 15px;
  background-color: #fb7878;
  color: #672828;
  font-size: 30px;
}
